doctype html
html
  head
    title CS3103 Project
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/typeahead.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/js/collapse.js')
    script(src='/bower_components/typeahead.js/dist/typeahead.bundle.min.js')
    script(src='/bower_components/typeahead.js/dist/bloodhound.min.js')
    block script

  body
    block content