<!DOCTYPE html>
<html>
  <head>
    <title>CS3103 Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/typeahead.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/js/collapse.js"></script>
    <script src="/bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
    <script src="/bower_components/typeahead.js/dist/bloodhound.min.js"></script>
    <script src="/bower_components/underscore/underscore.js"></script>
    <script src="/bower_components/backbone/backbone.js"></script>
  </head>
  <body>
    <h4>Yuvraj Agarwal</h4>
    <div>
      <h6>Worked with</h6>
      <ul>
        <li>Rajesh Gupta</li>
        <li>Paramvir Bahl</li>
        <li>Alec Wolman</li>
        <li>Ranveer Chandra</li>
        <li>Kevin Chin</li>
        <li>Roy Want</li>
        <li>Trevor Pering</li>
      <ul>
    </div>
    <div>
      <h6>Pulished papers</h6>
      <ul>
        <li>Wireless Wakeups Revisited: Energy Management for VoIP over Wi-Fi Smartphones</li>
        <li>CoolSpots: Reducing the Power Consumption of Wireless Mobile Devices with Multiple Radio Interfaces</li>
      <ul>
    </div>
  </body>
</html>