<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>CS3103 Project Academic Paper Query Engine</title>
        <link href="../public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="../public/stylesheets/style.css" rel="stylesheet">
    </head>

    <body>
        <h1 class="centered"> CS3103 Project Academic Paper Query Engine </h1>
        <br>
        <br>
        <form class="row centered col-md-12" method="post" action="/simpleSearch">
        <div class="col-md-4 col-md-offset-1 no-padding">
            <input type="text" class="form-control search-box" id="simple-search-paper" name="simple-search-paper" placeholder="Paper">
        </div>
        <div class="col-md-3 no-padding">
            <input type="text" class="form-control search-box" id="simple-search-author" name="simple-search-author" placeholder="Author">
        </div>
        <div class="col-md-1 no-padding">
            <select id="simple-search-year-from" name="simple-search-year-from" class="form-control">
              <option>--</option>
              <option>1900</option>
              <option>1901</option>
            </select>
        </div>
        <div class="col-md-1 no-padding">
            <select id="simple-search-year-to" name="simple-search-year-to" class="form-control">
              <option>--</option>
              <option>2013</option>
              <option>2014</option>
            </select>
        </div>
            <button type="submit" class="btn btn-warning col-md-1">Search</button>
        </form>

        <script src="../public/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../public/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>













